/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Gaegu&family=Lilita+One&family=Readex+Pro&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif, "Lilita One", "Comfortaa", "Gaegu", "Readex Pro";
  line-height: 1;
  font-weight: 400;
  padding: 0;

  color-scheme: light dark;

  color: rgba(255, 255, 255, 0.87);
  background-color: linen;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lilita-one-regular {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  }

.comfortaa {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  }

.gaegu-light {
  font-family: "Gaegu", sans-serif;
  font-weight: 300;
  font-style: normal;
}
  
.gaegu-regular {
  font-family: "Gaegu", sans-serif;
  font-weight: 400;
  font-style: normal;
}
  
.gaegu-bold {
  font-family: "Gaegu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.readex-regular {
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}
  

/* Coolors Exported Palette - https://coolors.co/f6bd60-f7ede2-f5cac3-84a59d-f28482 */

/* CSS HEX */
:root{
  --hunyadi-yellow: #f6bd60ff;
  --linen: #f7ede2ff;
  --tea-rose-red: #f5cac3ff;
  --cambridge-blue: #84a59dff;
  --light-coral: #f28482ff;
  --blue-blue:#CFD6DC;
  --darker-blue:#7090A8;
  --pale-yellow:#F7E1C2;
}

/* CSS HSL */
:root{
  --hunyadi-yellow: hsla(37, 89%, 67%, 1);
  --linen: hsla(31, 57%, 93%, 1);
  --tea-rose-red: hsla(8, 71%, 86%, 1);
  --cambridge-blue: hsla(165, 15%, 58%, 1);
  --light-coral: hsla(1, 81%, 73%, 1);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  /*place-items: center;*/
  /*min-width: 320px;
  min-height: 100vh;*/
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.generate {
  border-radius: 8px;
  font-family: "Comfortaa";
  background-color: #F6BD60;
  font-size: larger;
  margin: 10px;
}

#test {
  font-family: "Gaegu";
  font-size: x-large;
  padding: 10px;
  font-weight: 700;
}

.generate:hover {
  background-color: #F4AE3E;
  border-color: #F4AE3E;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
