.scroll-card {
    background-color: #F5CAC3 !important;
}
.all-recipe-card {
    background-color: var(--hunyadi-yellow) !important;
}
.all-recipe-card, .scroll-card {
    border-radius: 40px !important;
    height: 220px !important;
    width: 100%;
    border: 0 !important;
    padding: 0;
}
.all-recipe-card:hover, .scroll-card-slide:hover {
    transform: scale(1.1);
    transition: all ease-in-out 300ms;
}
.scroll-card > .cover {
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover; 
    height: 150px;
    opacity: 0.75;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}